.categories-nav {
  background-color: #fff;
}
.categories-nav .categories-menu {
  background-color: #e01212;
  color: #fff;
  padding: 0;
  font-weight: bold;
}
.categories-menu .categories-menu-title {
  padding: 1rem 0rem;
}
.categories-nav ul {
  margin: 0;
  padding: 0;
}
.categories-nav ul li a {
  font-size: 20px;
  color: #222;
  padding: 15px 0;
  background-color: transparent;
  line-height: 30px;
  display: block;
  z-index: 3;
}
.categories-nav ul li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background: #e2e2e2;
  opacity: 1 !important;
}
.categories-nav ul li:hover {
  background: #e2e2e2;
}
.categories-nav ul li a:hover {
  padding-left: 5px;
  border-color: transparent;
  color: #e01212;
  background-color: transparent !important;
  transition: all 0.3s ease;
  transform: scale(1);
}
